/* 기본적인 스타일 (모든 페이지 그대로 적용 필수)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 헤더 스타일 */
.topbar {
  position: relative; /* z-index가 제대로 작동하려면 position이 필요 */
  z-index: 1002; /* chat-container보다 위로 오도록 z-index 값 설정 */
}

/* 사이드바 스타일 */
.sidebar {
  position: relative; /* z-index가 제대로 작동하려면 position이 필요 */
  z-index: 1001; /* chat-container보다 위로 오도록 z-index 값 설정 */
}

/*----------------------------------------------------------------------------------------------------*/
/* 마이페이지 컨테이너 전체 감싸는 영역 */
.mypage-cover {
  width: 500px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* 스크롤 숨기기 */
}

/* 마이페이지 컨테이너 */
.mypage-container {
  position: absolute;
  width: 500px;
  height: 640px;
  top: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px 30px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 
              0 -1px 3px rgba(0, 0, 0, 0.1), 
              1px 0 3px rgba(0, 0, 0, 0.1), 
              -1px 0 3px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* 스크롤바 숨기기 */
}


/* 제목 스타일 */
.mypage-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* 폼 그룹 (입력 필드) */
.mypage-form-group {
  margin-bottom: 15px;
}

.mypage-form-group label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.mypage-form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.mypage-form-group input:focus {
  border-color: #007bff;
}

/* 성별 버튼 그룹 */
.mypage-gender-group {
  display: flex;
  gap: 10px;
}

.mypage-gender-btn {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #e0e0e0;
  transition: background 0.3s;
}

.mypage-gender-btn.active {
  background: #19335A;
  color: white;
}

/* 생년월일 입력 */
.mypage-date-group {
  display: flex;
  gap: 10px;
}

.mypage-date-group input {
  flex: 1;
  text-align: center;
}

/* 제로 파티 데이터 버튼 */
.mypage-zero-btn a {
  text-decoration: none;
}

#mypage-reset-btn {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #19335A;
  color: white;
  transition: background 0.3s;
}

#mypage-reset-btn:hover {
  background: #3364AF;
}

/* 제출 버튼 */
.mypage-submit {
  text-align: center;
  margin-top: 20px;
}

#mypage-submit-btn {
  width: 30%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #3B74CB;
  color: white;
  font-weight: bold;
  transition: background 0.3s;
}

#mypage-submit-btn:hover {
  background: #3364AF;
}

#error-message, #confirm-error-message{
  font-size: 12px;
}

