<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>BLUEPEN CALENDAR</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/calendar.css" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="assets/js/calendar.js"></script>
  </head>
  <body>
      <!-- 상단바, 사이드바 -->
    <header class="topbar" th:replace="~{/topbar}"></header>
    <div class="sidebar" th:replace="~{/sidebar}"></div>
    <div id='calendar'></div>
  </body>
</html>