<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blue Pen</title>
</head>
<body>

<h1> StartPage </h1>

    <a href="/mainpage">메인페이지</a></br>
    <a href="/join">회원가입</a></br>
    <a href="/login">로그인</a></br>
    <a href="/zero">제로파티데이터</a></br>
    <a href="/calendar">캘린더</a></br>
    <a href="/flasktest">플라스크</a></br>
    <a href="/mypage">마이페이지</a></br>
    <a href="/prompt">프롬프트</a></br>
    <a href="/editing">이력서첨삭</a></br>
    <a href="/startpage">시작페이지</a></br>
    <a href="/list">리스트</a></br>
    <a href="/bookmark">북마크</a></br>
</body>
</html>