<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>회원가입 - BluePen</title>
<link rel="stylesheet" href="assets/css/join.css" />
</head>
<body>
	<div class="container">
		<div class="logo">🖋️BLUE PEN</div>
		<form action="join.do" method="post">
			<div class="input-group">
				<input type="text" id="user_id" name="user_id" placeholder="아이디"/>
				<button class="btn small-btn" onclick="checkDuplicate()">
					중복확인</button>
			</div>
			<input type="password" id="user_pw" name="user_pw" placeholder="비밀번호" />
			<input
				type="password" id="confirmPassword" placeholder="비밀번호 확인" />
				
			<select
				id="user_gender" name="user_gender">
				<option>성별</option>
				<option value="m">남성</option>
				<option value="f">여성</option>
			</select>
<!--			<div class="birth-group">
  				<input type="text" id="year" placeholder="YYYY" maxlength="4" /> <input
					type="text" id="month" placeholder="MM" maxlength="2" /> <input
					type="text" id="day" placeholder="DD" maxlength="2" /> 				
			</div>
-->
				<input type="text" id="user_birthdate" name="user_birthdate"/>
			<button class="btn" onclick="register()">회원가입</button>
		</form>
	</div>

	<script src="assets/js/join.js"></script>
</body>
</html>
