<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
	<link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/list.css" />
  </head>
  <body>
      <!-- 상단바, 사이드바 -->
    <header class="topbar" th:replace="~{/topbar}"></header>
<!--     <div class="prompt" th:replace="~{/prompt}"></div>
 -->    <div class="container">
        <h2>Schedule List</h2>
        <div class="buttons"> 
            <button onclick="confirmDeleteAll()">전체삭제</button>
            <select id="itemsPerPage" onchange="updateItemsPerPage()">
                <option value="5">5개씩</option>
                <option value="10" selected>10개씩</option>
                <option value="15">15개씩</option>
                <option value="20">20개씩</option>
            </select>
            <input type="search" id="searchInput" placeholder="키워드 입력" onkeyup="highlightText()">
        </div>
        <div class="job-list"></div>
        <!-- 페이지네이션 버튼이 출력될 위치 -->
<div class="pagination" style="text-align: center; margin-top: 20px;"></div>
    </div>
    <script src="assets/js/list.js"></script>
  </body>
</html>