<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
	<link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/list.css" />
  </head>
  <body>
      <!-- 상단바, 사이드바 -->
    <header class="topbar" th:replace="~{/topbar}"></header>
    <div class="sidebar" th:replace="~{/sidebar}"></div>
    <div class="prompt" th:replace="~{/prompt}"></div>
    <script src="assets/js/list.js"></script>
  </body>
</html>