<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
	<link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/login.css">
  </head>
<body>
    <div class="login-container">
        <h2>🖋️BLUE PEN</h2>
        <form action="login.do" method = "post" id="login-form">
            <div id="error-message" th:if="${error}" th:text="${error}" style="color: red;"></div>
            <div class="input-group">
                <label for="username">아이디</label>
                <div class="input-group">
                    <input type="text" id="username" name="user_id" placeholder="아이디를 입력하세요" required>
                </div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="user_pw" placeholder="비밀번호를 입력하세요" required>
            </div>
            <button type="submit" class="btn">로그인</button>
        </form>
        <div class="footer">
            <p><a href="#" >아이디/비밀번호 찾기</a></p>
            <p><a href="/join"  class="login-link">회원가입</a></p>
        </div>
    </div>
    <script src="assets/js/login.js"></script>
</body>
</html>
