<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <title>Sidebar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/sidebar.css" />
  </head>
  <body>
    <div class="side-container">
      <div id="sidebar" class="sidebar opened">
        <div class="sidebar-list" style="margin-top: 50px;">
          <ul id="side-select-all-container" style="display: none; justify-content: flex-end;">
            <li style="display: flex; justify-content: flex-end; align-items: center;">
              <label><strong>전체선택</strong></label>
              <input type="checkbox" id="side-select-all" />
            </li>
          </ul>

          <ul id="side-today">
            <li class="title-li"><span class="title">오늘</span></li>
          </ul>
          <ul id="side-task-list1"></ul>

          <ul id="side-before">
            <li class="title-li"><span class="title">지난 7일</span></li>
          </ul>
          <ul id="side-task-list2"></ul>
        </div>

        <div class="sidebar-footer">
          <div class="left-footer">
            <a href="/mypage" class="side-mypage-link">
              <i class="fa-solid fa-user"></i><span class="sidebar-text"> MYPAGE</span>
            </a>
            <a href="/" class="side-logout-link">
              <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="sidebar-text"> LOGOUT</span>
            </a>
          </div>

        </div>

        <div id="side-modal" class="common-modal">
          <div class="common-modal-content">
            <p>채팅을 삭제하시겠습니까?</p>
            <div class="common-modal-buttons">
              <button id="modal-yes-btn">예</button>
              <button id="modal-no-btn">아니오</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="bookmark-modal" class="modal-overlay hidden">
      <div class="modal-content">
        <p>북마크에 저장하시겠습니까?</p>
        <div class="modal-buttons">
          <button id="bookmark-yes-btn">예</button>
          <button id="bookmark-no-btn">아니오</button>
        </div>
      </div>
    </div>

    <script src="assets/js/sidebar.js"></script>
  </body>
</html>