<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Topbar</title>
    <link rel="stylesheet" href="assets/css/topbar.css" />
  </head>
  <body>
    <!-- 상단바 -->
    <header class="header" id="top-bar">
      <div class="logo">
        <h2>🖋️BLUE PEN</h2>
      </div>
      <nav class="navigation">
        <a href="/employment-news" class="nav-link">취업뉴스</a>
        <a href="/calendar" class="nav-link">캘린더</a>
        <a href="/list" class="nav-link">리스트</a>
        <a href="/favorites" class="nav-link">즐겨찾기</a>
      </nav>
    </header>
  </body>
</html>
